@page "/addticket"

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using CollectibleMovieTicketDB.Model

<PageTitle>CMTdb - Add Ticket</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">
    Add Ticket to DB
</MudText>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Medium">
    <MudGrid Justify="Justify.Center">

        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4">
                <MudForm
                    @ref="form" @bind-IsValid="@success"
                    @bind-Errors="@errors"
                >
                    <MudTextField
                        T="string"
                        Label="Movie Title"
                        Required="true"
                        RequiredError="Movie Title is required!"
                        @bind-Value="@prototypeTicket.MovieTitle"
                    />
                    <MudDatePicker
                        Label="Showing Date"
                        Required="true"
                        RequiredError="Showing Date is required!"
                        @bind-Date="@prototypeTicket.ShowingDate"
                    />
                    <div class="d-flex">
                        <MudTextField
                            T="int"
                            Label="Collector Number"
                            Required="true"
                            RequiredError="Collector Number is required!"
                            @bind-Value="@prototypeTicket.CollectorNumber"
                        />
                        <MudTextField
                            T="int?"
                            Label="Variant"
                            @bind-Value="@prototypeTicket.Variant"
                        />
                    </div>
                    <MudTextField
                        T="int"
                        Label="Estimated Secondary Market Value (in USD)"
                        Required="true"
                        RequiredError="This field is required!"
                        @bind-Value="@prototypeTicket.EstimatedEbaySalePrice"
                    />
                    <div class="d-flex align-center justify-space-between">
                        <MudCheckBox
                            T="bool"
                            Label="Re-Release"
                            @bind-Checked="@prototypeTicket.Rerelease"
                        />
                        <MudButton
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            Disabled="@(!success)"
                            Class="ml-auto"
                            OnClick="OnValidSubmit"
                        >
                            Submit
                        </MudButton>
                    </div>
                </MudForm>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="3">
            <MudCard>
                <MudCardMedia
                    Image="images/tickets/Placeholder-Image.jpg"
                    Height="200"
                />
                <MudCardContent>
                    @* Card Title *@
                    <MudText Typo="Typo.h5">@prototypeTicket.MovieTitle</MudText>

                    @* Card Body *@
                    <MudText Typo="Typo.body2">
                        @{DateTime date = prototypeTicket.ShowingDate ?? DateTime.MinValue;}
                        <b>Showing Date:</b> @date.ToString("yyyy.MM.dd")
                    </MudText>
                    @{
                        string collectorTag = prototypeTicket.Rerelease ? "Re. " : "No. ";
                        string fullCollectorNumber = collectorTag + prototypeTicket.CollectorNumber;
                    }
                    <MudText Typo="Typo.body2">
                        <b>Collector Number:</b> @fullCollectorNumber
                    </MudText>
                    @{
                        if (@prototypeTicket.Variant.HasValue)
                        {
                            <MudText Typo="Typo.body2">
                                <b>Variant:</b> @prototypeTicket.Variant
                            </MudText>
                        }
                    }
                    
                    <MudText Typo="Typo.body2">
                        <b>Estimated Secondary Market Value:</b> 
                        $ @prototypeTicket.EstimatedEbaySalePrice
                    </MudText>
                    <MudText Typo="Typo.body2">
                        <b>test:</b>
                        @prototypeTicket.Rerelease
                    </MudText>

                    @* Collector Chip *@
                    @{
                        string chipTag = prototypeTicket.Rerelease ? "RE " : "";
                        string chipVariant = prototypeTicket.Variant == null ? "" : " (" +
                        prototypeTicket.Variant + ")";
                        string chipNumber = chipTag + "#" +
                        prototypeTicket.CollectorNumber + chipVariant;
                    }
                    <MudChip Label="true"
                             Color="Color.Primary"
                             Size="Size.Large"
                    >
                        @chipNumber
                    </MudChip>
                </MudCardContent>
            </MudCard>
        </MudItem>

    </MudGrid>
</MudContainer>

@code {
    bool success;
    string[] errors = { };
    MudForm? form;
    CollectibleTicket prototypeTicket = new CollectibleTicket();

    private void OnValidSubmit()
    {
        success = true;
        StateHasChanged();
    }
}